trunk/src/main/webapp/EHRMedicalRecordsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.medical_records.ehr.earogya.java.main" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.medical_records.ehr.earogya.java.main">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.medical_records.ehr.earogya.java.main">
            <xs:element name="getMedicalRecords">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMedicalRecordsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getMedicalRecordsRequest">
        <wsdl:part name="parameters" element="ns:getMedicalRecords"/>
    </wsdl:message>
    <wsdl:message name="getMedicalRecordsResponse">
        <wsdl:part name="parameters" element="ns:getMedicalRecordsResponse"/>
    </wsdl:message>
    <wsdl:portType name="EHRMedicalRecordsServiceInterfacePortType">
        <wsdl:operation name="getMedicalRecords">
            <wsdl:input message="ns:getMedicalRecordsRequest" wsaw:Action="urn:getMedicalRecords"/>
            <wsdl:output message="ns:getMedicalRecordsResponse" wsaw:Action="urn:getMedicalRecordsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EHRMedicalRecordsServiceInterfaceSoap11Binding" type="ns:EHRMedicalRecordsServiceInterfacePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMedicalRecords">
            <soap:operation soapAction="urn:getMedicalRecords" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EHRMedicalRecordsServiceInterfaceSoap12Binding" type="ns:EHRMedicalRecordsServiceInterfacePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMedicalRecords">
            <soap12:operation soapAction="urn:getMedicalRecords" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EHRMedicalRecordsServiceInterfaceHttpBinding" type="ns:EHRMedicalRecordsServiceInterfacePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getMedicalRecords">
            <http:operation location="EHRMedicalRecordsServiceInterface/getMedicalRecords"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMedicalRecords"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMedicalRecords"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EHRMedicalRecordsServiceInterface">
        <wsdl:port name="EHRMedicalRecordsServiceInterfaceHttpSoap11Endpoint" binding="ns:EHRMedicalRecordsServiceInterfaceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/EHRMedicalRecordsServiceInterface"/>
        </wsdl:port>
        <wsdl:port name="EHRMedicalRecordsServiceInterfaceHttpSoap12Endpoint" binding="ns:EHRMedicalRecordsServiceInterfaceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/EHRMedicalRecordsServiceInterface"/>
        </wsdl:port>
        <wsdl:port name="EHRMedicalRecordsServiceInterfaceHttpEndpoint" binding="ns:EHRMedicalRecordsServiceInterfaceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/EHRMedicalRecordsServiceInterface"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
