trunk/src/main/webapp/EHRService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.ehr.earogya" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.ehr.earogya">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.ehr.earogya">
            <xs:element name="getName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNameRequest">
        <wsdl:part name="parameters" element="ns:getName"/>
    </wsdl:message>
    <wsdl:message name="getNameResponse">
        <wsdl:part name="parameters" element="ns:getNameResponse"/>
    </wsdl:message>
    <wsdl:portType name="EHRServiceInterfacePortType">
        <wsdl:operation name="getName">
            <wsdl:input message="ns:getNameRequest" wsaw:Action="urn:getName"/>
            <wsdl:output message="ns:getNameResponse" wsaw:Action="urn:getNameResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EHRServiceInterfaceSoap11Binding" type="ns:EHRServiceInterfacePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getName">
            <soap:operation soapAction="urn:getName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EHRServiceInterfaceSoap12Binding" type="ns:EHRServiceInterfacePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getName">
            <soap12:operation soapAction="urn:getName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EHRServiceInterfaceHttpBinding" type="ns:EHRServiceInterfacePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getName">
            <http:operation location="EHRServiceInterface/getName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getName"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getName"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EHRServiceInterface">
        <wsdl:port name="EHRServiceInterfaceHttpSoap11Endpoint" binding="ns:EHRServiceInterfaceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/EHRServiceInterface"/>
        </wsdl:port>
        <wsdl:port name="EHRServiceInterfaceHttpSoap12Endpoint" binding="ns:EHRServiceInterfaceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/EHRServiceInterface"/>
        </wsdl:port>
        <wsdl:port name="EHRServiceInterfaceHttpEndpoint" binding="ns:EHRServiceInterfaceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/EHRServiceInterface"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
